{% load static %}



<script src="{% static 'lib/jquery-3.2.1.js' %}" type="text/javascript"></script>



<script src="{% static 'lib/jquery-ui-1.12.1.flick/jquery-ui.min.js' %}"  ></script>
<script src="{% static 'lib/jquery-ui-slider-pips/jquery-ui-slider-pips.min.js' %}"  ></script>

<link rel="stylesheet" href="{% static 'lib/jquery-ui-1.12.1.flick/jquery-ui.min.css' %}"  >
<link rel="stylesheet" href="{% static 'lib/jquery-ui-1.12.1.flick/jquery-ui.theme.min.css' %}"  >
<link rel="stylesheet" href="{% static 'lib/jquery-ui-slider-pips/jquery-ui-slider-pips.min.css' %}"  >



<link rel="stylesheet" href="{% static 'lib/selectize/css/selectize.css' %}">
<script src="{% static 'lib/selectize/js/standalone/selectize.min.js' %}" type="text/javascript"></script>





<link rel="stylesheet" href="{% static 'lib/dashboard/iconfonts/mdi/css/materialdesignicons.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/dashboard/css/vendor.bundle.base.css' %}">
<link rel="stylesheet" href="{% static 'lib/dashboard/css/vendor.bundle.addons.css' %}">







<link rel="stylesheet" href="{% static 'lib/bootstrap-4.0.0/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css' %}"  >


<script src="{% static 'lib/slideReveal/jquery.slidereveal.min.js' %}" type="text/javascript"></script>


<script src="{% static 'lib/bootstrap-4.0.0/dist/js/bootstrap.min.js' %}" type="text/javascript"></script>




<link rel="stylesheet" href="{% static 'lib/dashboard/dashboard/css/style.css' %}">

<!--script src="{% static 'lib/dashboard//js/vendor.bundle.base.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/dashboard//js/vendor.bundle.addons.js' %}" type="text/javascript"></script-->


<!--script src="{% static 'dashboard/dashboard/js/vendor.bundle.addons.js' %}" type="text/javascript"></script>
<script src="{% static 'dashboard/dashboard/js/vendor.bundle.addons.js' %}" type="text/javascript"></script-->
 
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <!--script src="{% static 'lib/dashboard/dashboard/js/off-canvas.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/dashboard/dashboard/js/misc.js' %}" type="text/javascript"></script-->



<script src="{% static 'lib/d3.v4.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/d3-hsv.v0.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/d3-contour.v1.min.js' %}" type="text/javascript"></script>