<!DOCTYPE html>
<html class="full-height" lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Patient Profilers</title>
		{% include  "common/libx2.html"  %}
	</head>
	<body>
		<div class="container-scroller">
			<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
				<div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
					<a class="navbar-brand brand-logo" href="index.html">
						<img src="images/logo.svg" alt="logo" />
					</a>
					<a class="navbar-brand brand-logo-mini" href="index.html">
						<img src="images/logo-mini.svg" alt="logo" />
					</a>
				</div>
				<div class="navbar-menu-wrapper d-flex align-items-center">
					<ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
						<li class="nav-item">
							<a href="#" class="nav-link">test1</a>
						</li>
						<li class="nav-item active">
							<a href="#" class="nav-link">
								<i class="mdi mdi-elevation-rise"></i>test
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="mdi mdi-bookmark-plus-outline"></i>test3
							</a>
						</li>
					</ul>
					<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
						<span class="icon-menu"></span>
					</button>
				</div>
			</nav>
 
			<div class="container-fluid page-body-wrapper">
				<nav class="sidebar sidebar-offcanvas" id="sidebar">
					<ul class="nav">
						<li class="nav-item nav-profile">
							<div class="nav-link">
								<div class="user-wrapper">
									<p class="profile-name">test user</p>
								</div>
							</div>
						</li>
						<!--li class="nav-item">
							<a class="nav-link" href="index.html">
								<i class="menu-icon mdi mdi-television"></i>
								<span class="menu-title">test</span>
							</a>
						</li-->
						<li class="nav-item">
							<a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
								<i class="menu-icon mdi mdi-content-copy"></i>
								<span class="menu-title">Studies</span>
								<i class="menu-arrow"></i>
							</a>
							<div class="collapse" id="ui-basic">
								<ul class="nav flex-column sub-menu studiesselectmenu">
									{% for s in studies %}

										<li class="nav-item">
											<a class="nav-link" name='studyselect' val='{{s}}' style='cursor: pointer;color:steelblue;'>{{s}}</a>
										</li>

									    
									{% endfor %}
									<!--li class="nav-item">
										<a class="nav-link" name='studyselect' val='TCGA_PAAD_mac' style='cursor: pointer;color:steelblue;'>TCGA PAAD (Mac)</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" name='studyselect' val='TCGA_PAAD' style='cursor: pointer;color:steelblue;'>TCGA PAAD</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" name='studyselect' val='TCGA_COAD_2015_RNAseq' style='cursor: pointer;color:steelblue;'>TCGA COAD RNAseq</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" name='studyselect' val='TCGA_BRCA_B38' style='cursor: pointer;color:steelblue;'>TCGA BRCA B38</a>
									</li-->

								</ul>
							</div>
						</li>
					</ul>
				</nav>

				<div class="main-panel">
					<div class="content-wrapper" style='height: 100%;'>
						<div class="row" style='height: 100%;'>
							<div class="col-lg-8 h-100">
								<div id='mainsvgdiv' style='width: 100%;height: 100%;'>
									
								</div>
							</div>
							<div class="col-lg-4 grid-margin  h-100">
								<div class="card" style='width: 100%;height: 100%;'>
									<!--div><button class='btn btn-primary switchbtn' value='1'>switch</button></div-->
									<div class="card-body" id='infopanel'>
									</div>
								</div>
							</div>
						</div>
					</div>
					<footer class="footer">
						<div class="container-fluid clearfix"> </div>
					</footer>
				</div>
			</div>
		</div>
	</body>



	<script type="text/javascript">
		
		$(function() {

			init();


			function init(){

				$(".studiesselectmenu").on("click","[name='studyselect']",function(){

					var targetfile = $(this).attr("val")+".json";


					d3.json("/static/data/"+targetfile, function(error, jsondata) {
						

						//alert(JSON.stringify(jsondata));
						var data = jsondata.data;
						var study = jsondata.study;
						var mapName = jsondata.mapname;
						var patient = jsondata.pp;

						initMap3(study,mapName,patient,data);
					})
					

				})

				function initMap3(study,mapName,patient,data){

					var mapSize = getPanelSize();
					var mapdata = data;

					renderMap3("#mainsvgdiv",mapSize,mapdata,study,mapName,patient);
				}



 
				/*

				$(".switchbtn").click(function(){

					if($(this).attr("value")==="1"){
						$(this).attr("value","2");

						$(".node").each(function(){

							var x2 = $(this).attr("x2");
							var y2 = $(this).attr("y2");
							$(this).attr("cx",x2);
							$(this).attr("cy",y2);

						})

						//renderMap("#mainsvgdiv",mapSize,mapCoor,mapSample,study,mapName,patient);
					}else{
						$(this).attr("value","1");
						//renderMap("#mainsvgdiv",mapSize,mapCoor,mapSample,study,mapName,patient);

						var x1 = $(this).attr("x1");
						var y1 = $(this).attr("y1");
						$(this).attr("cx",x1);
						$(this).attr("cy",y1);

					}



				})

				*/


			}






			


			function initMap2(study,study2,mapName,patient){

				var mapSize = getPanelSize();
				var mapdata = getData(study2);
				var mapCoor = mapdata[0];
				var mapCoor2 = mapdata[2];
				var mapSample = mapdata[1];
				renderMap("#mainsvgdiv",mapSize,mapCoor,mapCoor2,mapSample,study,mapName,patient,2);
			}


			function initMap(study,mapName,patient){

				var mapSize = getPanelSize();
				var mapdata = getData(study);
				var mapCoor = mapdata[0];
				var mapCoor2 = mapdata[2];
				var mapSample = mapdata[1];


				renderMap("#mainsvgdiv",mapSize,mapCoor,mapCoor2,mapSample,study,mapName,patient,1);

			}




			function renderMap3(svgdiv,mapSize,mapdata,study,mapName,patient){

				$(svgdiv).html("");
				if(mapSize===null || mapSize ===undefined){
					mapSize = 650;
				}

				var margin = {top: 30, right: 30, bottom: 30, left:30};
				var width = mapSize - margin.left - margin.right;
				var height = mapSize - margin.top - margin.bottom;

				var mainsvg = d3.select(svgdiv).append("svg").attr("id","mainsvg")
								.attr("width",mapSize)
								.attr("height",mapSize);

				var mapinnerSize = width;

				var xrange=[0,0];
				var yrange=[0,0];

				var data=[];
				//for(var i=0;i<mapdata.length;i++){
				for(var i in mapdata){

					let tempx = mapdata[i][0];
					let tempy = mapdata[i][1];


					data.push({name:i,x:tempx,y:tempy});

					if(tempx < xrange[0]){
						xrange[0]=Math.floor(tempx);
					}else if(tempx > xrange[1]){
						xrange[1]=Math.ceil(tempx);
					}

					if(tempy < yrange[0]){
						yrange[0]=Math.floor(tempy);
					}else if(tempy > yrange[1]){
						yrange[1]=Math.ceil(tempy);
					}

				}

				xrange[0]=xrange[0]-1;
				xrange[1]=xrange[1]+1;

				yrange[0]=yrange[0]-1;
				yrange[1]=yrange[1]+1;


				var xScale = d3.scaleLinear()
				.domain(xrange)
				.range([0, mapinnerSize]);

				var yScale = d3.scaleLinear()
				.domain(yrange)
				.range([mapinnerSize, 0]);


				var mapg = mainsvg.append("g").attr("id","mapg").attr("transform","translate(30,30)");
				mapg.append("text").text(study).attr("x",6).attr("y",-6);

				var sample_node = mapg.selectAll('.node')
					.data(data)
					.enter().append('circle')
					.attr("id", function(d){return d.name;})
					.attr('class', 'node')
					.attr('cx', function(d){return xScale(d.x);})
					.attr('cy', function(d){return yScale(d.y);})
					//.attr('cy', function(d){ return yScale(d.Y); })
					.attr('r', 4)
					.style('fill', "#0E5B95" )
					.style("cursor","pointer")
					.style("fill-opacity",0.5)
					.style("stroke","white")
					.style("stroke-width","0.5");

				d3.selectAll(".node")
					.on("mouseover", handleMouseOverNode)
					.on("mouseout", handleMouseOutNode)
					.on("click", handleClickNode);


				function handleMouseOverNode(){





				}

				function handleMouseOutNode(){



					
				}

				function handleClickNode(){

					$("#infopanel").html("");

					var name =$(this).attr("id");

					var displacename = name.replace("_TIME","").replace("_TUMOR","");

					var path = "/static/images/"+study+"/"+mapName+"/"+patient+"/"+name;
					var uppath =path+"_up.png"; 
					
					var tumor = uppath.replace("TIME","TUMOR");

					$("#infopanel").html("<h4>"+displacename+"</h4><h5>TIME</h5><img id='timeimg' style='width:100%;' src='"+uppath+"'></img><h5>TUMOR</h5><img style='width:100%;' id='tumorimg' src='"+tumor+"'></img>");

					 


				}
			}




			function renderMap(svgdiv,mapSize,mapCoor,mapCoor2,mapSample,study,mapName,patient,modetype){


				$(svgdiv).html("");
				if(mapSize===null || mapSize ===undefined){
					mapSize = 650;
				}


				var margin = {top: 30, right: 30, bottom: 30, left:30};
				var width = mapSize - margin.left - margin.right;
				var height = mapSize - margin.top - margin.bottom;



				var mainsvg = d3.select(svgdiv).append("svg").attr("id","mainsvg")
								.attr("width",mapSize)
								.attr("height",mapSize);

				var mapinnerSize = width;

				var xrange=[0,0];
				var yrange=[0,0];

				var x2range=[0,0];
				var y2range=[0,0];

				var data=[];
				for(var i=0;i<mapSample.length;i++){

					let tempx = mapCoor[i][0];
					let tempy = mapCoor[i][1];

					let tempx2 = mapCoor2[i][0];
					let tempy2 = mapCoor2[i][1];

					data.push({name:mapSample[i],x:tempx,y:tempy,x2:tempx2,y2:tempy2});

					if(tempx < xrange[0]){
						xrange[0]=Math.floor(tempx);
					}else if(tempx > xrange[1]){
						xrange[1]=Math.ceil(tempx);
					}

					if(tempy < yrange[0]){
						yrange[0]=Math.floor(tempy);
					}else if(tempy > yrange[1]){
						yrange[1]=Math.ceil(tempy);
					}


					if(tempx2 < x2range[0]){
						x2range[0]=Math.floor(tempx2);
					}else if(tempx2 > x2range[1]){
						x2range[1]=Math.ceil(tempx2);
					}

					if(tempy2 < y2range[0]){
						y2range[0]=Math.floor(tempy2);
					}else if(tempy2 > y2range[1]){
						y2range[1]=Math.ceil(tempy2);
					}

				}

				xrange[0]=xrange[0]-1;
				xrange[1]=xrange[1]+1;

				yrange[0]=yrange[0]-1;
				yrange[1]=yrange[1]+1;




				x2range[0]=x2range[0]-1;
				x2range[1]=x2range[1]+1;

				y2range[0]=y2range[0]-1;
				y2range[1]=y2range[1]+1;

				var xScale = d3.scaleLinear()
				.domain(xrange)
				.range([0, mapinnerSize]);

				var x2Scale = d3.scaleLinear()
				.domain(x2range)
				.range([0, mapinnerSize]);

				var yScale = d3.scaleLinear()
				.domain(yrange)
				.range([mapinnerSize, 0]);


				var y2Scale = d3.scaleLinear()
				.domain(y2range)
				.range([mapinnerSize, 0]);

				var mapg = mainsvg.append("g").attr("id","mapg").attr("transform","translate(30,30)");
				mapg.append("text").text(study).attr("x",6).attr("y",-6);

				var sample_node = mapg.selectAll('.node')
					.data(data)
					.enter().append('circle')
					.attr("id", function(d){return d.name;})
					.attr('class', 'node')
					.attr('x1', function(d){return xScale(d.x);})
					.attr('y1', function(d){return yScale(d.y);})
					.attr('x2', function(d){return x2Scale(d.x2);})
					.attr('y2', function(d){return y2Scale(d.y2);})
					.attr('cx', function(d){return xScale(d.x);})
					.attr('cy', function(d){return yScale(d.y);})
					//.attr('cy', function(d){ return yScale(d.Y); })
					.attr('r', 4)
					.style('fill', "#0E5B95" )
					.style("cursor","pointer")
					.style("fill-opacity",0.5)
					.style("stroke","white")
					.style("stroke-width","0.5");


				d3.selectAll(".node")
					.on("mouseover", handleMouseOverNode)
					.on("mouseout", handleMouseOutNode)
					.on("click", handleClickNode);


				function handleMouseOverNode(){





				}

				function handleMouseOutNode(){



					
				}

				function handleClickNode(){

					$("#infopanel").html("");

					var name =$(this).attr("id");

					if(modetype===2){

						var path = "/static/images/"+study+"/"+mapName+"/"+patient+"/"+name;
						var uppath =path+"_up.png"; 
						$("#infopanel").html("<h4>"+name+"</h4><h5>up</h5><img id='upimg' style='width:100%;' src='"+uppath+"'></img> ");

					}else{

					var path = "/static/images/"+study+"/"+mapName+"/"+patient+"/"+name;
					var uppath =path+"_up.png";
					var dnpath =path+"_dn.png";
					$("#infopanel").html("<h4>"+name+"</h4><h5>up</h5><img id='upimg' style='width:100%;' src='"+uppath+"'></img><h5>down</h5><img style='width:100%;' id='dnimg' src='"+dnpath+"'></img>");

					}



				}


			}


			function getPanelSize(){

				var svgw = $("#mainsvgdiv").width();

				var svgh = $("#mainsvgdiv").height();

				var mapw =100;
				if(svgw>svgh){
					mapw=svgh;
				}else{
					mapw=svgw;
				}

				mapw = Math.floor(mapw);

				return mapw;

	       	}


	     	


	    });

    </script>
</html>